ADMIN_LOGIN=
ADMIN_PASSWORD=
SECRET_KEY=
OCS_AD_IMPORT_TOKEN=
OCS_AD_EXCLUDED_LOGINS=administrator,admin
OCS_AD_LAPTOP_NAMES=Notebook-RTI,NOTEBOOK-CHPU-DISP,LAPTOP-COM,NOTE-PROXIMA-1,NOTE-BUH-2,NOTE-HR-1,UP-OP-NOTES1,NOTE-WED-1,Notebook-sar1,Ershov-Note
PHOTO_DIRECTORY_HOST=./equipment_photos
